* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
input,
textarea,
section {
  scroll-behavior: smooth;
  font-family: Open Sans, sans-serif;
}

html {
  font-size: 62.5%;
  scroll-padding-top: 200px;
}



/* common */
:root {
  --primary-color: #212832;
  --sub-color: #696d76;
}

.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.8rem;
  border-radius: 6px;
  transition: all 0.1s linear;
}

.btn:hover {
  opacity: 0.8;
}

.name-section {
  display: flex;
  align-items: center;
  color: #696d77;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
}

.name-section::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 2px;
  background: #696d77;
  margin-right: 12px;
}

/* FEATURE INFORMATION */
.f-infor {
  width: 470px;
}

.f-content__heading {
  margin-top: 12px;
  color: var(--primary-color);
  font-family: Open Sans;
  font-size: 4rem;
  font-weight: 700;
  line-height: 5rem;
}

.f-content__desc {
  margin-top: 20px;
  color: var(--sub-color);
  font-family: Open Sans;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
}

.f-content__method-payment {
  margin-top: 28px;
}

.f-content__method-payment--item {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  font-family: Open Sans;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3rem;
}

.f-content__method-payment--item + .f-content__method-payment--item {
  margin-top: 18px;
}

.f-content__method-payment--item::before {
  content: "";
  width: 12px;
  height: 12px;
  background: #7264d6;
  border-radius: 50%;
  margin-right: 12px;
}

.f-content__btn {
  margin-top: 38px;
  min-width: 150px;
  height: 58px;
  border: none;
  outline: none;
  border-radius: 0.8rem;
  background: #212832;
  cursor: pointer;
}

/* code */
/* NAVIGATION */
#navigation {
  padding-top: 42px;
  padding-bottom: 8px;
  background: #fff;
  position: sticky;
  top: -34px;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.navigation-item,
.nav-list,
.nav-accounts {
  display: flex;
  align-items: center;
}

.logo-web {
  cursor: pointer;
}

.nav-list {
  margin-right: auto;
  margin-left: 46px;
}

.nav-list li a {
  position: relative;
  color: #696d76;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
  padding: 12px 24px;
}

.nav-list li:first-child a {
  text-shadow: 0 0 1px #212832;
}

.nav-list li a:hover {
  text-shadow: 0 0 1px #212832;
}

.nav-list li a:hover::after {
  display: inline-block;
}

.nav-list li a::after {
  content: "";
  display: none;
  position: absolute;
  bottom: 8px;
  left: 24px;
  height: 1px;
  width: calc(100% - 48px);
  background-color: #7264d6;
}

.nav-list li:first-child a::after {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: 8px;
  left: 24px;
  height: 1px;
  width: calc(100% - 48px);
  background-color: #7264d6;
}

.nav-accounts {
  gap: 28px;
}

.nav-accounts .accounts {
  color: #212832;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.8rem;
}

.nav-accounts__btn--sign-up {
  --height: 52px;

  background: #212832;
  height: var(--height);
  width: 114px;
}

/* HEADER */
#header {
  margin-top: 68px;
}

.header-content {
  display: flex;
  align-items: center;
}

/* header desc */
.header-desc {
  margin-right: 160px;
}

.header-desc__heading {
  width: 500px;
  margin-top: 12px;
  color: #212832;
  font-size: 6rem;
  font-weight: 700;
  line-height: 7rem;
  animation: slideToTop 5s linear infinite;
  opacity: 0;
}

.header-dest__emphasis {
  color: #7264d6;
}

.header-desc__desc-heading {
  width: 540px;
  margin-top: 20px;
  color: #696d76;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
  animation: slideToTop 5s linear 0.1s infinite;
}

.header-desc__action {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.header-action__input {
  border: none;
  outline: none;
  color: #696d76;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
}

.header-action__input::placeholder {
  padding-left: 16px;
}

.header-action__btn {
  min-width: 150px;
  height: 58px;
  border-radius: 0.8rem;
  background: #7264d6;
  border: none;
  outline: none;
  cursor: pointer;
}

.header-desc__note {
  margin-top: 20px;
  color: #696d76;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.4rem;
}

@keyframes slideToTop {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  10%,
  75% {
    transform: translateY(0);
    opacity: 1;
  }

  95%,
  100% {
    opacity: 0;
    transform: translateX(30px);
  }
}

/* header mobile */
.header-media {
  overflow: hidden;
}

.header-media__mobile {
  position: relative;
}

.header-mobile__item {
  position: absolute;
  top: 52px;
  left: 23px;
}

.header-media__transections {
  display: flex;
  align-items: center;
  position: absolute;
  top: 226px;
  left: 23px;
}

.header-media__transections span {
  margin-right: 136px;
  color: #31456a;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
}

.header-mobile__services {
  position: absolute;
  top: 276px;
  margin-left: 4px;
  margin-right: 23px;
}

@keyframes outRight {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  10%,
  40%,
  60% {
    opacity: 1;
    transform: translateY(0);
  }
  90%,
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
.header-mobile__services-items:nth-child(1) {
  animation: outRight 5s linear infinite;
}

.header-mobile__services-items:nth-child(2) {
  animation: outRight 5s linear 0.2s infinite;
}

.header-mobile__services-items:nth-child(3) {
  animation: outRight 5s linear 0.4s infinite;
}

.header-mobile__services-items:nth-child(4) {
  animation: outRight 5s linear 0.6s infinite;
}

.header-mobile__services-items {
  display: flex;
  align-items: center;
  margin-top: -10px;
  opacity: 0;
}

.header-service__info {
  margin-right: 30px;
}

.header-mobile__services-items:nth-child(2) .header-service__info {
  margin-right: 65px;
}

.header-mobile__services-items:nth-child(4) .header-service__info {
  margin-right: 80px;
}

.header-mobile__services .header-service__item-row-1 {
  color: #212832;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4rem;
  margin-bottom: 6px;
}

.header-mobile__services .header-service__item-row-2 {
  color: #696d76;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1rem;
}

.header-service__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-deposite,
.header-interset,
.header-secured {
  position: absolute;
}

.header-deposite {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 14px 10px;
  right: 34vw;
  top: calc(48vh + 3px);
  border-radius: 6px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.header-deposite__name {
  color: #31456a;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4rem;
  padding-left: 8px;
  padding-right: 20px;
}

.header-deposite__money {
  color: #4ab5e3;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4rem;
}

.header-interset {
  right: 175px;
  bottom: 42vh;
}

.header-secured {
  bottom: 60px;
  right: 17vw;
}

/* WORKS */
#works {
  margin-top: 230px;
}

.works-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* works joyfull */
.works-joyfull {
  position: relative;
}

.works-joyfull__man {
  position: absolute;
  bottom: 1px;
  left: 7px;
}

.works-joyfull__card {
  position: absolute;
  top: 7px;
  right: 62px;
}

.works-congratulation {
  position: absolute;
  bottom: 96px;
  right: -100px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: #fffdfa;
  box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
  padding: 15px 30px 15px 15px;
}

.works-congratulation__content {
  margin-left: 10px;
}

.works-congratulation__content-heading {
  color: var(--primary-color);
  font-family: Inter, sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: normal;
}

.works-congratulation__content-desc {
  margin-top: 12px;
  color: var(--sub-color);
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: normal;
}

/* work content information */
.works-content__infor {
  margin-bottom: 30px;
}

.works-content__infor-heading {
  margin-bottom: 12px;
  color: var(--primary-color);
  font-family: Open Sans, sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 5rem;
}

.works-content__infor-list {
  margin-top: 70px;
  width: 470px;
}

.works-content__infor-content + .works-content__infor-content {
  margin-top: 30px;
}

.works-content__infor-content--heading {
  font-style: normal;
  color: var(--primary-color);
  font-family: Open Sans;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 3.2rem;
}

.works-content__infor-content--desc {
  color: #696d76;
  font-family: Open Sans;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
}

/* FEATURE 1 */
#fo {
  margin-top: 160px;
}

.fo-content {
  display: flex;
  align-items: center;
}

/* feature 1 advertisement */
.fo-adv {
  position: relative;
  margin-left: 130px;
}

.fo-adv__send {
  position: absolute;
  top: -48px;
  right: -88px;
  padding: 5px 14px 5px 0;
  display: flex;
  align-items: center;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}

.fo-adv__send-heading {
  margin-right: 67px;
}

.fo-adv__send-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.fo-adv__send-content .fo-adv__send--row-1 {
  font-size: 1.6rem;
}

.fo-adv__send--row-1 {
  color: var(--primary-color);
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: normal;
}

.fo-adv__send--row-2 {
  margin-top: 4px;
  color: var(--primary-color);
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
}

/* feature 1 advertisemnet incom  */
.fo-adv__income {
  position: absolute;
  bottom: -55px;
  right: -88px;
  padding: 15px 0 15px 15px;
  width: 120px;
  height: 120px;
  border-radius: 16px;
  background: #439f90;
}

.fo-adv__income p:nth-of-type(1),
.fo-adv__income p:nth-of-type(2) {
  margin-top: 14px;
  color: #fff;
  font-family: Open Sans;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: normal;
}

.fo-adv__income p:nth-of-type(2) {
  font-size: 1.8rem;
  font-weight: 600;
}

/* FEATURE 2 */
#ft {
  margin-top: 160px;
}

.ft-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* feature 2 advertisement */
.ft-adv {
  position: relative;
  margin-left: 28px;
}

.ft-adv__backgroud {
  position: absolute;
  bottom: 0;
  left: -28px;
  z-index: -1;
}

.ft-adv__choice-method--payment {
  position: absolute;
  bottom: 57px;
  right: -102px;
  padding: 28px;
  background: #fff;
  filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.1));
  border-radius: 8px;
}

.ft-adv__payment-heading {
  color: #212832;
  font-family: Open Sans;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3rem;
}

.ft-adv__payment-list--choices {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

.ft-adv__payment-more:hover {
  opacity: 0.8;
}

.ft-adv__payment-card {
  position: absolute;
  right: -12vw;
  top: calc(43% + 2px);
}

/* EVALUATE */
#evaluate {
  margin-top: 160px;
}

/* evaluate tittle */
.evaluate-title__name {
  justify-content: center;
}
.evaluate-title {
  text-align: center;
}

.evaluate-title__heading {
  margin-top: 12px;
  color: var(--primary-color);
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25; /* 125% */
}

.evaluate-title__desc {
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
  width: 435px;
  color: var(--sub-color);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

/* EVALUATE CLIENTS */
.evaluate-clients {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.e-clients-item,
.e-clients-item__user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.e-clients-item__content {
  position: relative;
  padding: 42px 28px;
  border: 1px solid #dfe2e8;
  border-radius: 5px;
  background: #fff;
  transition: 0s;
}

.e-clients-item__content:hover {
  transition: 0.4s;
  box-shadow: 0px 7px 18px 0px rgba(0, 0, 0, 0.07);
  border-color: transparent;
}

.e-clients-item__content:hover::before {
  transition: 0.4s;
  box-shadow: 11px 11px 17px 0px rgba(0, 0, 0, 0.07);
  border-color: transparent;
}

.e-clients-item__content::before {
  position: absolute;
  bottom: -35px;
  left: calc(50% - 36px);
  content: "";
  display: inline-block;
  width: 70px;
  height: 70px;
  transform: rotate(45deg);
  background-color: inherit;
  border: 1px solid #dfe2e8;
  border-left-color: transparent;
  border-top-color: transparent;
  transition: 0s;
  border-radius: 0 0 5px 0;
}

.e-clients-item__desc {
  text-align: center;
  width: 514px;
  color: #696d76;
  font-size: 2.2rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.5454; /* 154.545% */
}

.e-clients-item__user {
  margin-top: 80px;
}

.avata-user__block {
  position: relative;
  height: 104px;
  width: 104px;
  background: #4ab5e3;
  border-radius: 50%;
  overflow: hidden;
}

.avata-user__block .avt-clients {
  position: absolute;
  bottom: 0;
  display: block;
}

.e-clients-item__user--name {
  margin-top: 20px;
  color: #070052;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38462; /* 138.462% */
}

.e-clients-item__user--job {
  color: var(--sub-color);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.666667; /* 166.667% */
}

.e-clients-item:nth-child(2) .e-clients-item__user .avata-user__block {
  background-color: #439f90;
}

.change-clients {
  margin-top: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.change-clients__item:first-child {
  border: none;
  background: #7264d6;
}

.change-clients__item {
  height: 6px;
  width: 20px;
  border: 2px solid var(--sub-color);
  margin: 0 5px;
  border-radius: 2px;
}

/* BLOG */
#blog {
  margin-top: 160px;
}

/* BLOG TITTLE */
.blog-tittle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-tittle__content--heading {
  margin-top: 6px;
  color: var(--primary-color);
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25; /* 125% */
}

.blog-tittle__content-desc {
  margin-top: 18px;
  width: 435px;
  color: var(--sub-color);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.blog__more-info {
  min-width: 123px;
  height: 58px;
  border-radius: 8px;
  background: var(--primary-color);
  cursor: pointer;
}

/* BLOG MAIN CONTENT */
.main-blog--item__main-img {
  width: 160px;
  height: 160px;
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
  transition: 0.4s;
}

.main-blog {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.main-blog--item {
  padding: 28px;
  display: flex;
  align-items: center;
  gap: 22px;
  border-radius: 12px;
  border: 1px solid #dfe2e8;
  transition: 0.4s;
}

.main-blog--item:hover {
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
  border-color: transparent;
}

.main-blog--item:hover .main-blog--item__main-img {
  scale: 1.05;
}

.main-blog--item:hover .main-blog--item__content {
  transform: translateY(-10px);
}

.main-blog--item__content {
  transition: 0.4s;
}

.main-blog--item__content-time {
  color: var(--sub-color);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.714; /* 171.429% */
}

.main-blog--item__content-desc {
  margin-top: 10px;
  width: 332px;
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.6667; /* 166.667% */
}

.main-blog--item__content-cta {
  display: inline-block;
  margin-top: 20px;
  color: var(--sub-color);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625; /* 162.5% */
}

.main-blog--item:hover .main-blog--item__content-cta {
  color: #7264d6;
}

.main-blog--item__content-cta:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* PREVIEW */
#preview {
  margin-top: 160px;
}

/* PREVIEW CONTENT */
.preview-content {
  position: relative;
  padding: 100px 0;
  border-radius: 24px;
  background: #7264d6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* PREVIEW TITTLE */
.preview-tittle__name {
  justify-content: center;
  color: #fff;
}

.preview-tittle__name::before {
  background: #fff;
}

.preview-tittle__heading {
  margin-top: 12px;
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25; /* 125% */
}

.preview-tittle__desc {
  width: 435px;
  margin-top: 18px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

/* PREVIEW APP */
.preview-app {
  margin-top: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.preview-chplay:hover,
.preview-appstore:hover {
  cursor: pointer;
}

.preview-star {
  position: absolute;
}

.preview-star1 {
  left: 112px;
  top: 50px;
}

.preview-star2 {
  right: 112px;
  top: 50px;
}

.preview-star3 {
  left: 166px;
  bottom: 50px;
}

.preview-star4 {
  right: 166px;
  bottom: 50px;
}

/* FOOTER */
#footer {
  margin-top: 100px;
}

.footer-content {
  padding: 100px 0 28px 0;
}

.footer-item {
  display: flex;
  justify-content: space-between;
}

.footer-item__tittle {
  margin-bottom: 24px;
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.6667; /* 166.667% */
}

.footer-item__element li a {
  display: inline-block;
  padding-bottom: 8px;
  color: var(--sub-color);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6667; /* 166.667% */
  transition: 0.4s;
}

.footer-item__element li a:hover {
  text-decoration: underline;
}

.footer-item__infor {
  margin-bottom: 48px;
  width: 371px;
  color: var(--sub-color);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6667; /* 166.667% */
}

.footer__sub-item--more input {
  width: 270px;
  color: #8e919a;
  font-family: Open Sans;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #8e919a;
  outline: none;
}

.footer__sub-item--more button {
  margin-left: 20px;
  border-radius: 6px;
  background: #7264d6;
  padding: 13px 18px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
  border: none;
  outline: none;
}

.footer-info {
  display: flex;
  gap: 100px;
  margin-top: 54px;
  color: #6a6e78;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6667; /* 166.667% */
  text-decoration-line: underline;
}

.footer-end {
  padding: 28px 0;
  background: #7264d6;
  text-align: center;
}

.footer-end p {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}
